{% extends "base.html" %} {% block content %}
<h1><p>{{ title }}</p></h1>
<h4>
  <ol>
    {% for content in contents | reverse %}
    <li id="{{ content.id }}" class="list-text" data-id="{{ content.id }}">
      {% if not content.is_ready %}
      <div class="upload-text{{ content.id }}">
        <a href="{{ url_for('text.edit_text', text_id=content.id) }}"
          >{{ content.title_text }}</a
        >
        <div class="progress {{ content.id }}">
          <div class="progress-bar {{ content.id }}" style="width: 0%;">0%</div>
        </div>
      </div>
      {% else %}
      <a href="{{ url_for('text.edit_text', text_id=content.id) }}"
        >{{ content.title_text }}</a
      >
      {% endif %}
    </li>
    {% endfor %}
  </ol>
</h4>
{% endblock %} {% block js %}
<script src="{{ url_for('static', filename='scripts/jquery-3.5.1.js') }}"></script>
<script>
  $(document).ready(function () {
    $("li.list-text").each(function (index, element) {
      let dataId = $(element).attr("data-id");
      let url = "progress/" + dataId;
      let timerId = setInterval(function () {
        $.getJSON(url, function (result) {
          console.log(result);
          if (result.status == 2) {
            $(`.progress-bar.${dataId}`)
              .css("width", result.progress + "%")
              .text(Math.round(result.progress) + "%");
          } else if (result.status == 3) {
            clearInterval(timerId);
            $(`.progress-bar.${dataId}`)
              .css("width", result.progress + "%")
              .text(Math.round(result.progress) + "%");
            setTimeout(anythingRemove, 2000, $(`.progress.${dataId}`));
          } else {
            clearInterval(timerId);
            anythingRemove($(`.progress.${dataId}`));
            $(`.upload-text${dataId}`).after("<span>Error</span>");
          }
        });
      }, 2000);
    });
    function anythingRemove(anything) {
      anything.remove();
    }
  });
</script>
{% endblock %}
