{% extends "base.html" %} {% block content %}
<h1><p>{{ content.title_text }}</p></h1>
<div id="text_en" class="container text" data-id="{{ content.id }}"></div>
<div id="sentences" class="container text">
  <span id="text-sentence-en"></span>
</div>
<div id="sentences" class="container text">
  <span id="text-sentence-ru"></span>
</div>
<div id="translation-word">
  <div id="pop_text"></div>
  <span id="translation-word-close" class="close">ₓ</span>
</div>
<div id="overlay"></div>
<div class="buttons_volume">
  <button id="back">Back</button>
  <button id="play">Play</button>
  <button id="pause">Pause</button>
  <button id="forvard">Forvard</button>
  <button id="stop">Stop</button>
  <input id="volume" type="range" min="0" max="10" value="5" />
</div>
<div id="tracker">
  <div id="progress-bar">
    <span id="duration"></span>
    <span id="progress"></span>
  </div>
</div>
{% endblock %} {% block js %}
<script src="{{ url_for('static', filename='scripts/jquery-3.5.1.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/learning.js') }}"></script>
<script>
  let AUDIO = "{{ url_for('main.serve_audio', text_id=content.id) }}";
</script>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/learning.css') }}"
/>
{% endblock %}
