{% extends "base.html" %} {% block content %}
<h1><p>{{ text.title_text }}</p></h1>
<div id="text_en" class="container text" data-id="{{ text.id }}"></div>
<div id="sentences" class="container text">
  <span id="text-sentence-en"></span>
</div>
<div id="sentences" class="container text">
  <span id="text-sentence-ru"></span>
</div>
<div class="buttons_volume">
  <!-- <button id="back">Back</button> -->
  <button id="play">Play</button>
  <button id="pause">Pause</button>
  <button id="stop">Stop</button>
  <!-- <button id="forvard">Forvard</button> -->
  <input id="volume" type="range" min="0" max="10" value="5" />
</div>
<!-- <div id="tracker">
  <div id="progress-bar">
    <span id="duration"></span>
    <span id="progress"></span>
  </div>
</div> -->
{% endblock %} {% block js %}
<script src="{{ url_for('static', filename='jquery-3.5.0.js') }}"></script>
<script>
  $(document).ready(function () {
    // Объявляем переменные
    let audio = new Audio("{{ url_for('main.serve_audio', text_id=text.id) }}"),
      pause = false,
      stopPlay = true,
      second = 0,
      dataId = $("#text_en").attr("data-id"),
      url = "send_chunks/" + dataId,
      pointsTime = [0],
      sentencesEn,
      sentencesRu,
      pointInChunk,
      pointInText,
      punctuation;
    // currentBack,
    // currentForvard;
    const INTERVAL = 3;

    // Формируем главный текст, ищем в чанках знаки пунктуации и по ним создаем массив для дальнейшего использования при выводе предложений
    (function (url) {
      $.getJSON(url, function (result) {
        for (let i = 0; i < result.chunks_for_sending.length; i++) {
          chunk = result.chunks_for_sending[i];
          text_en.insertAdjacentHTML(
            "beforeend",
            `<nobr id=\"a${i}\" class=\"chunk active-remove\"> ${chunk}</nobr>`
          );
          if (
            chunk.indexOf(".") != -1 ||
            chunk.indexOf("!") != -1 ||
            chunk.indexOf("?") != -1 ||
            chunk.indexOf(";") != -1
          ) {
            punctuation = punctuationIndexes(chunk);
            for (let p of punctuation) {
              pointInChunk = (INTERVAL / chunk.length) * p;
              pointInText = INTERVAL * i + pointInChunk;
              pointsTime.push(pointInText);
            }
          }
        }
        sentencesEn = result.sentences_en;
        sentencesRu = result.sentences_ru;
        audio.currentTime = 0;
      });
    })(url);

    // Вспомогательная функция для формирования массива с индексами знаков пунктуации
    function punctuationIndexes(chunk) {
      let punctuationIndexes = [];
      let searchElement = [".", "!", "?", ";"];
      let index;
      for (let i of searchElement) {
        index = chunk.indexOf(i);
        while (index != -1) {
          punctuationIndexes.push(index);
          index = chunk.indexOf(i, index + 1);
        }
      }
      return punctuationIndexes;
    }

    // Привязка подчеркивания и вывода предложений к воспроизведению аудиофайла
    (function () {
      $(audio).bind("timeupdate", function () {
        second = parseFloat(audio.currentTime);
        let chunksLength = $(".chunk").length,
          item,
          i,
          n;
        for (i = 0; i < chunksLength; i++) {
          if (INTERVAL * i <= second && second < INTERVAL * (i + 1)) {
            break;
          }
        }
        if (pause == false && stopPlay == false) {
          item = document.querySelector(`#a${i}`);
          item.classList.remove("active-remove");
          item.classList.add("active");
        }
        for (n = 0; n < pointsTime.length; n++) {
          if (pointsTime[n] <= second && second < pointsTime[n + 1]) {
            break;
          }
        }
        $("#text-sentence-en").replaceWith(
          `<span id=\"text-sentence-en\">${sentencesEn[n]}</span>`
        );
        $("#text-sentence-ru").replaceWith(
          `<span id=\"text-sentence-ru\">${sentencesRu[n]}</span>`
        );
      });
    })();

    // Play
    playFromBeginning = function () {
      pause = false;
      stopPlay = false;
      audio.play();
      return;
    };

    // Возобновление воспроизведения после паузы
    resumePlaying = function () {
      if (stopPlay) {
        return;
      }
      pause = false;
      audio.play();
      return;
    };

    playButtonHandler = function () {
      if (!pause) {
        playFromBeginning();
      } else {
        resumePlaying();
      }
      return;
    };

    document
      .getElementById("play")
      .addEventListener("click", playButtonHandler);

    // Пауза (возвращает на ближий интервал в 3 секунды) ДОРАБОТАТЬ!
    set_pause = function () {
      if (stopPlay) {
        return;
      }
      pause = true;
      stopPlay = false;
      audio.pause();
      currentBack = audio.currentTime - (audio.currentTime % INTERVAL);
      audio.currentTime = currentBack;
      $(".chunk.active:last").addClass("active-remove");
      $(".chunk.active:last").removeClass("active");
      return;
    };

    pauseButtonHandler = function () {
      if (!pause) {
        set_pause();
      } else {
        resumePlaying();
      }
      return;
    };

    document
      .getElementById("pause")
      .addEventListener("click", pauseButtonHandler);

    // Stop
    stop_playing = function () {
      stopPlay = true;
      pause = false;
      audio.pause();
      audio.currentTime = 0;
      $(".chunk").removeClass("active");
      $(".chunk").removeClass("active-fast");
      $(".chunk").addClass("active-remove");
      return;
    };

    stopButtonHandler = function () {
      stop_playing();
      return;
    };

    document
      .getElementById("stop")
      .addEventListener("click", stopButtonHandler);

    // Громкость
    $("#volume").change(function () {
      audio.volume = parseFloat(this.value / 10);
    });

    // Возврат к началу при завершении воспроизведения
    audio.addEventListener("ended", function () {
      stop_playing();
    });

    // Пауза при сворачивании окна
    document.addEventListener("visibilitychange", function () {
      if (document.visibilityState !== "visible") {
        if (stopPlay || pause) {
          return;
        }
        set_pause();
      }
    });
  });
  // Прогресс
  //   (function () {
  //     $(audio).bind("timeupdate", function () {
  //       let s = parseInt(audio.currentTime % 60);
  //       let m = parseInt(audio.currentTime / 60) % 60;
  //       if (s < 10) {
  //         s = "0" + s;
  //       }
  //       $("#duration").html(`${m}:${s}`);
  //       let value = 0;
  //       if (audio.currentTime > 0) {
  //         value = Math.floor((100 / audio.duration) * audio.currentTime);
  //       }
  //       $("#progress").css("width", value + "%");
  //     });
  //   })();

  // // Вернуть на 3 секунды назад, либо пауза
  // set_back = function () {
  //   if (stopPlay) {
  //     return;
  //   } else if (pause) {
  //     audio.currentTime -= INTERVAL;
  //     if ($(".active-remove:first").prev(".active")) {
  //       $(".chunk.active:last").addClass("active-remove");
  //       $(".chunk.active:last").removeClass("active");
  //     } else {
  //       $(".chunk.active-fast:last").addClass("active-remove");
  //       $(".chunk.active-fast:last").removeClass("active-fast");
  //     }
  //   } else {
  //     set_pause();
  //   }
  // };

  // // Вперед на 3 секунды либо на ближайший следующий интервал в 3 секунды
  // set_forvard = function () {
  //   if (stopPlay) {
  //     stopPlay = false;
  //     pause = true;
  //     audio.currentTime += INTERVAL;
  //     // $(".active-remove:first").addClass("active-fast") ||
  //     $(".chunk.active-remove:first").addClass("active-fast");
  //     $(".active-remove:first").removeClass("active-remove");
  //   } else if (pause) {
  //     audio.currentTime += INTERVAL;
  //     // if ($(".chunk").hasClass("active-remove")) {
  //     $(".chunk.active-remove:first").addClass("active-fast");
  //     $(".active-remove:first").removeClass("active-remove");
  //     // } else {
  //     //   $(".chunk:first").addClass("active-fast");
  //     // };
  //   } else {
  //     $(".chunk.active:last").addClass("active-fast");
  //     $(".chunk.active:last").removeClass("active");
  //     currentForvard = INTERVAL - (audio.currentTime % INTERVAL);
  //     audio.currentTime += currentForvard;
  //     // $(".active-remove:first").prev(".active").addClass("active-fast");
  //     // $(".active-remove:first").prev(".active").removeClass("active");
  //   }
  // };

  // backButtonHandler = function () {
  //   set_back();
  //   return;
  // };

  // forvardButtonHandler = function () {
  //   set_forvard();
  //   return;
  // };

  // document
  //   .getElementById("back")
  //   .addEventListener("click", backButtonHandler);

  // document
  //   .getElementById("forvard")
  //   .addEventListener("click", forvardButtonHandler);
</script>
<style>
  .container.text {
    background: #c5cbcc;
    min-width: 900px;
    max-width: 900px;
    max-height: 350px;
    overflow: auto;
    margin-bottom: 20px;
  }
  #text-sentence-en {
    font-size: 1.5rem;
  }
  #text-sentence-ru {
    font-size: 1.5rem;
  }
  .chunk {
    font-size: 1.1rem;
    font-family: "Times New Roman", Times, serif;
    position: relative;
    overflow: hidden;
  }
  .chunk:before {
    position: absolute;
    height: 1px;
    width: 0%;
    left: 0;
    background: black;
    content: "";
    transition: width 3s linear;
    bottom: -1px;
  }
  .chunk.active:before {
    width: 100%;
  }
  .chunk.active-remove:before {
    width: 0%;
    transition: initial;
  }
  .chunk.active-fast:before {
    width: 100%;
    transition: initial;
  }
  /* #tracker {
    position: relative;
    width: 100%;
  }
  #progress-bar {
    width: 80%;
    margin-left: 2%;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 10px;
    background: rgb(78, 76, 76);
    float: left;
  }
  #progress {
    background: rgb(180, 122, 34);
    height: 10px;
    display: inline-block;
  }
  #duration {
    position: absolute;
    top: 0;
    right: 10px;
    padding: 4px 8px;
    background: rgb(209, 204, 204);
    border-radius: 5px;
  } */
</style>
{% endblock %}
